style.css
body {
	margin: 0;
	background: black;
}
.line {
	font-size: 100px;
	font-family: Georgia, Times New Roman, serif;
	font-style: italic;
	line-height: 250%;
	color: grey;
}
.line:hover {
	
  	animation-timing-function: ease;
  	animation-name: flash;
  	color: aqua;
  	animation-duration: 1s;
  	animation-fill-mode: both;
}


@keyframes flash {
  from, 50%, to {
    opacity: 1;
  }

  25%, 75% {
    opacity: 0;
  }
}

.flash {
  animation-name: flash;
}

p {
	display: inline-block;
	transform: rotate(40deg);
	padding: 60px;
	text-align: right;
}
#one {
	top: 30%;
	left: 30%;
	background: black
}