style.css

body {
	height: 100%;
	margin: 0;
}
p {
	font-size: 50px;
	font-family: Impact, sans-serif;
	line-height: 200%;
}
.one {
	letter-spacing: 60px;
}
.two {
	letter-spacing: 10px;
}
.three {
	letter-spacing: -4px;
}