* {
	box-sizing: border-box;
}

body {
	background: black;
	height: 100%;
}

.canvas {
	width: 900px;
	height: 556px;
	margin: 100px auto;
	background: white;
	position: relative;

}
#second {
	z-index: 2;
}
#mouse-pad {
	position: absolute;
	top: 35%;
	width: 500px;
	height: 500px;
	background: darkblue;
	-moz-border-radius: 50px / 25px;
	-webkit-border-radius: 50px / 25px;
	border-radius: 50px / 25px;
	transform: rotate(30deg);
	z-index: 1;
}
#banana-body {
	position: absolute;
	top: 20%;
	left: 30%;
	width: 600px;
	height: 150px;
	background: gold;
	-moz-border-radius: 150px / 75px;
	-webkit-border-radius: 150px / 75px;
	border-radius: 150px / 75px;
	border-bottom-left-radius:40%;
    border-bottom-right-radius:40%;
    border-top-left-radius:40%;
    border-top-right-radius:40%;
    z-index: 3;
}
#banana-stem {
	position: absolute;
	right: 580px;
	top: 70px;
	width: 75px;
	height: 30px;
	background: gold;
	-moz-border-radius: 50px / 25px;
	-webkit-border-radius: 50px / 25px;
	border-radius: 50px / 25px;
	transform: rotate(-20deg);
	z-index: 2;
}

#banana-end {
	position: absolute;
	left: 575px;
	top: 65px;
	width: 45px;
	height: 15px;
	background: saddlebrown;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	z-index: 4;
	transform: rotate(90deg);
}
#apple {
	position: absolute;
	top: 300px;
	left: 600px;
	width: 250px;
	height: 250px;
	background: firebrick;
	-moz-border-radius: 125px;
	-webkit-border-radius: 125px;
	border-radius: 125px;
}
#apple-stem {
	position: absolute;
	left: 90px;
	width: 60px;
	height: 10px;
	background: peru;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	z-index: 4;
	transform: rotate(90deg);
}
#apple-gradient {
	background: indianred; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient (indianred, peru); /* For Safari 5.1 to 6.0 */
    background: -o-radial-gradient (indianred, peru); /* For Opera 11.1 to 12.0 */
    background: -moz-radial-gradient (indianred, peru); /* For Firefox 3.6 to 15 */
    background: radial-gradient (indianred, peru); /* Standard syntax */
	position: absolute;
	top: 10px;
	left: 100px;
	width: 50px;
	height: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
#bottle {
	position: absolute;
	top: 20%;
	left: 30%;
	width: 150px;
	height: 400px;
	background: darkblue;
    z-index: 3;
    background: -webkit-gradient (linear, darkblue, purple);
    background: -o-linear-gradient (darkblue, purple);
    background: -moz-linear-gradient (darkblue, purple);
    background: linear-gradient (darkblue, purple); 
    transform: skewY(20deg);
}
#cap {
	position: absolute;
	bottom: 350px;
	width: 150px;
	height: 100px;
	background-color: black;
	z-index: 4;
	-moz-border-radius: 150px / 75px;
	-webkit-border-radius: 150px / 75px;
	border-radius: 150px / 75px;
}
#spout {
	position: absolute;
	bottom: 400px;
	left: 30px;
	width: 0;
	height: 0;
	border-bottom: 60px solid grey;
	border-right: 100px solid transparent;
	z-index: 6;
}
#bottom {
	position: absolute;
	top: 335px;
	width: 150px;
	height: 100px;
	background-color: darkblue;
	z-index: 4;
	-moz-border-radius: 150px / 75px;
	-webkit-border-radius: 150px / 75px;
	border-radius: 150px / 75px;
}
#handle {
	position: absolute;
	bottom: 400px;
	left: 115px;
	width: 125px;
	height: 60px;
	transform: rotate(-40deg);
	background-color: black;
	z-index: 4;
	-moz-border-radius: 150px / 75px;
	-webkit-border-radius: 150px / 75px;
	border-radius: 150px / 75px;
}
#pen {
	position: absolute;
	transform: rotate(-30deg);
	top: 300px;
	width: 400px;
	height: 40px;
	background: magenta;
	-moz-border-radius: 150px / 75px;
	-webkit-border-radius: 150px / 75px;
	border-radius: 150px / 75px;
	border-bottom-left-radius:20%;
    border-bottom-right-radius:20%;
    border-top-left-radius:20%;
    border-top-right-radius:20%;
}
#pen-tip {
	position: absolute;
	left: -9px;
	top: 6px;
	width: 30px;
	height: 25px;
	background: rebeccapurple;
	-moz-border-radius: 100px / 50px;
	-webkit-border-radius: 100px / 50px;
	border-radius: 100px / 50px;
	z-index: 4;
	transform: rotate(90deg);
}
#shadow {
	position: absolute;
	left: 400px;
	top: 150px;
	width: 150px;
	height: 400px;
	background: grey;
    z-index: 1;
    background: -webkit-gradient (linear, darkblue, purple);
    background: -o-linear-gradient (darkblue, purple);
    background: -moz-linear-gradient (darkblue, purple);
    background: linear-gradient (darkblue, purple); 
    transform: skewY(20deg);
    transform: rotate(40deg);
}