style.css
body {
	margin: 0;
	text-transform: none;
	text-align: center;
}

#cover-image {
	display: block;
	margin-right: 0 auto;
	margin-left: 0 auto;
	margin: 0 auto;
	text-align: center;
}

#box-one-left {
	width: 15em;
	height: 15em;
	border-radius: 7.5em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 1000px;
	left: 470px;
}
#box-two-left {
	width: 16em;
	height: 24em;
	border-radius: 9em;
	background: none;
	z-index: 1;
	position: absolute;
	transform: rotate(-30deg);
	top: 1250px;
	left: 680px;
}
#box-three-left {
	width: 19em;
	height: 19em;
	border-radius: 9.5em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 1400px;
	left: 1200px;
}
#box-four-left {
	width: 16em;
	height: 16em;
	border-radius: 8em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 550px;
	left: 500px;
}
#box-five-left {
	width: 8em;
	height: 18em;
	border-radius: 8em;
	background: none;
	z-index: 1;
	position: absolute;
	transform: rotate(-70deg);
	top: 260px;
	left: 600px;
}
#box-six-left {
	width: 14em;
	height: 14em;
	border-radius: 7em;
	background: none;
	z-index: 1;
	position: absolute;
	transform: rotate(-70deg);
	top: 900px;
	left: 300px;
}
#box-one-right {
	width: 18em;
	height: 20em;
	border-radius: 6em / 13em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 80px;
	left: 2020px;
}
#box-two-right {
	width: 16em;
	height: 16em;
	border-radius: 8em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 200px;
	left: 1180px;
}
#box-three-right {
	width: 18em;
	height: 18em;
	border-radius: 9em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 560px;
	left: 2200px;
}
#box-four-right {
	width: 16em;
	height: 16em;
	border-radius: 8em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 200px;
	left: 1650px;
}
#box-five-right {
	width: 8em;
	height: 18em;
	border-radius: 8em;
	background: none;
	z-index: 1;
	position: absolute;
	transform: rotate(40deg);
	top: 400px;
	left: 2100px;
}
#page-corner {
	width: 5em;
	height: 5em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 1260px;
	left: 1950px;
}