style.css
body {
	margin: 0;
	text-transform: none;
}

style.css

body {
	margin-left: 0;
	text-align: center;
}
#cover-image {
	display: block;
	margin-right: 0 auto;
	margin-left: 0 auto;
	margin: 0 auto;
	text-align: center;
}

#box-one-left {
	width: 15em;
	height: 15em;
	border-radius: 7.5em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 1000px;
	left: 300px;
}
#box-two-left {
	width: 19em;
	height: 19em;
	border-radius: 9.5em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 1400px;
	left: 250px;
}
#box-three-left {
	width: 18em;
	height: 18em;
	border-radius: 9em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 1450px;
	left: 850px;
}
#box-one-right {
	width: 18em;
	height: 22em;
	border-radius: 6em / 13em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 80px;
	left: 1890px;
}
#box-two-right {
	width: 15em;
	height: 15em;
	border-radius: 7.5em;
	background: none;
	z-index: 1;
	position: none;
	position: absolute;
	top: 180px;
	left: 1300px;
}
#page-corner {
	width: 5em;
	height: 5em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 1320px;
	left: 2010px;

}