style.css
body {
	margin: 0;
	text-transform: none;
	text-align: center;
}

#cover-image {
	display: block;
	margin-right: 0 auto;
	margin-left: 0 auto;
	margin: 0 auto;
	text-align: center;
}

#box-one-left {
	width: 16em;
	height: 16em;
	border-radius: 8em;
	background: none;
	z-index: 1;
	position: absolute;
	transform: rotate(-30deg);
	top: 1050px;
	left: 450px;
}
#box-two-left {
	width: 12em;
	height: 18em;
	border-radius: 9em;
	background: none;
	z-index: 1;
	position: absolute;
	transform: rotate(-80deg);
	top: 1350px;
	left: 600px;
}
#box-three-left {
	width: 16em;
	height: 18em;
	border-radius: 8em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 1350px;
	left: 1070px;
}
#box-four-left {
	width: 16em;
	height: 16em;
	border-radius: 8em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 950px;
	left: 200px;
}
#box-five-left {
	width: 12em;
	height: 12em;
	border-radius: 6em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 380px;
	left: 520px;
}
#box-six-left {
	width: 14em;
	height: 18em;
	border-radius: 8em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 590px;
	left: 400px;
}
#box-one-right {
	width: 18em;
	height: 20em;
	border-radius: 6em / 13em;
	background: none;
	z-index: 1;
	position: absolute;
	transform: rotate(-30deg);
	top: 40px;
	left: 2020px;
}
#box-two-right {
	width: 15em;
	height: 15em;
	border-radius: 7.5em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 200px;
	left: 1200px;
}
#box-three-right {
	width: 19em;
	height: 19em;
	border-radius: 9.5em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 480px;
	left: 2300px;
}
#box-four-right {
	width: 18em;
	height: 18em;
	border-radius: 9em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 175px;
	left: 1700px;
}
#box-five-right {
	width: 9em;
	height: 17em;
	border-radius: 8.5em;
	background: none;
	z-index: 1;
	position: absolute;
	transform: rotate(35deg);
	top: 460px;
	left: 2100px;
}
#page-corner {
	width: 5em;
	height: 5em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 1300px;
	left: 1900px;
}