style.css
body {
	margin: 0;
	text-transform: none;
	text-align: center;
}

#cover-image {
	display: block;
	margin-right: 0 auto;
	margin-left: 0 auto;
	margin: 0 auto;
	text-align: center;
}
#page-corner {
	width: 15em;
	height: 15em;
	background: none;
	z-index: 1;
	position: absolute;
	top: 1100px;
	left: 1700px;
}