style.css
body {
	

}
.bigger {
	font-size: 1500%;

}
.big {
	font-size: 600%;
}
.big, .bigger {
	text-transform: uppercase;
}
#container {
	display: block;
	padding-top: 200px;
	padding-bottom: 800px;
	padding-right: 200px;
	padding-left: 200px;
	margin-left: auto;
	
}
p {
	line-height: 200px;
	font-family: Garamond, Times New Roman, serif;
}
#line1 {
	position: relative;
	left: 200px;
}
#line2 {
	position: relative;
	left: 400px;
}
#line3 {
	position: relative;
	left: 300px;
}
#line4 {
	position: relative;
	left: 900px;
}
#line5 {
	position: relative;
	left: -50px;
}
#line6 {
	position: relative;
	left: 950px;
}