style.css

body {
	margin: 0;
	background: white;
}
.square {
	width: 3em;
	height: 3em;
	display: inline-block;
	background-color: black;
	margin-left: -2px;
	margin-right: -2px;
	margin-bottom: -4px;
	transition: background 0.1s ease-out 60s;
	z-index: 1;
}
.square:hover {
	background-color: transparent;
	transition: 0.1s;
	z-index: 1;
}

#background-shapes {
}

p {
	position: absolute;
	color: #080808;
	display: block;
	z-index: -1;
}
#text{
	display: block;
	margin-bottom: 0;
	width: 70%;
	z-index: -1;
}
#wing {
	position: absolute;
	bottom: 64%;
	left: 3%;
	font-size: 0.01em;
	text-transform: none;
	display: block;
	transform: rotate(30deg);
	text-align: right;
}
#head {
	position: absolute;
	display: block;
	transform: rotate(-60deg);
	text-align: left;
	float: right;
	right: -70%;
	bottom: 97%;
}
#soul {
	font-size: 60em;
	text-transform: uppercase;
}
#paragraph {
	position: absolute;
	top: 43%;
	left: 28.2%;
	display: block;
	text-transform: none;
	width: 10em;
	height: 40em;
	font-size: 0.035em;
	line-height: 1em;
	text-align: center;
}