style.css


body {

}
#rectangle {
	height: 160px;
	width: 100%;
	background-color: #708090;
	display: block;
	position: relative;
	top: 50px;
}

.searchbar {
	background-color: white;
	width: 500px;
	height: 50px;
	z-index: 1;
	position: relative;
	left: 25%;
	bottom: 70px;
}
.searchbutton {
	position: absolute;
	left: 500px;
	background-color: orange;
	width: 60px;
	height: 50px;
}
.searchmenu {
	position: absolute;
	right: 500px;
	background-color: lightgrey;
	width: 60px;
	height: 50px;
}
p {
	text-align: center;

}
#rectangle p {
	color: white;
	font-size: 30px;
	text-align: left;
}
.banner {
	width: 1400px;
	display: block;
	height: 400px;
	background-color: lightgrey;
	margin: auto;
}