style.css
.whatisupwiththis {
	width: 0px;
}
.home {
	position: relative;
	top: 0.5em;
	height: 1.5em;
	width: 1.5em;
	transform: rotate(45deg);
	background: lightblue;
	display: block;
	margin: 0 auto;
}
.left {
	position: absolute;
		top: 0.5em;
	height: 0.75em;
	width: 1.5em;
	background: lightblue;
	left: 4em;
	bottom: 95%;
	display: block;

}
.right {
	position: absolute;
		top: 0.5em;
	height: 0.75em;
	width: 1.5em;
	right: 4em;
	float: right;
	bottom: 95%;
	background: lightblue;	
	display: block;


}
.line {
	position: relative;
	top: 2000px;
	width: 155000px;
	height: 2000px;
	display: block;
	padding: 200px;

}