style.css

body {
	margin: 0;
	width: 100%;
}

p.dedication {
	position: relative;
	left: 80%;
	top: 10%;
	color: grey;
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: 10px;
	font-size: 2em;
	display: inline-block;
	z-index: 1;
	transform: rotate(90deg);
}
p.poem-author {
	position: relative;
	top: 10%;
	color: grey;
	font-family: Helvetica, Arial, sans-serif;
	letter-spacing: 10px;
	font-size: 2em;
	display: inline-block;
	z-index: 1;
}
#sky-gradient {
	display: block;
	position: relative;
	width: 100%;
	height: 900px;
	background: black;
	background: linear-gradient(to bottom, rgba(0,0,0,1) 40%, rgba(36, 36, 36, 1) 75%, rgba(0,0,0,0.7) 90%, rgba(36,36,36,0.54) 98%, rgba(255,255,255,0)) 100%;
}
#ocean-gradient {
	display: block;
	position: relative;
	width: 100%;
	height: 400px;
	background: rgba(0,7,30,1));
	background: linear-gradient(to bottom, rgba(0,7,30,1) 50%, rgba(0,9,50,0.93) 100%);
}

/*hover-reveal*/
#l1-container {
	opacity: 0;
	transition: 3s ease-in-out 6s;
}
.v1:hover > #l1-container{
	opacity: 1;
	display: block;
	transition: 3s;
}

#l2-container {
	opacity: 0;
	transition: 3s ease-in-out 6s;
}
.v1:hover > #l2-container{
	opacity: 1;
	display: block;
	transition: 3s;
}

#l3-container {
	opacity: 0;
	transition: 3s ease-in-out 6s;
}
.v1:hover > #l3-container{
	opacity: 1;
	display: block;
	transition: 3s;
}

/*circles*/
.v1 {
	width: 30px;
	height: 30px;
	background: lightblue;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
}
.v2 {
	width: 40px;
	height: 40px;
	background: lightblue;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
.v3 {
	width: 50px;
	height: 50px;
	background: lightblue;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
}
.v4 {
	width: 60px;
	height: 60px;
	background: lightblue;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}
.v5 {
	width: 70px;
	height: 70px;
	background: lightblue;
	-moz-border-radius: 35px;
	-webkit-border-radius: 35px;
	border-radius: 35px;
}

/*all level 1 buttons*/
#v1-l1 {
	position: absolute;
	left: 35%;
	top: 50%;
}
#v2-l1 {
	position: absolute;
	right: 280%;
	bottom: 130%;
}
#v3-l1 {
	position: absolute;
	right: 800%;
	bottom: 400%;
}
#v4-l1 {
	position: absolute;
	right: 1550%;
	bottom: 500%;

}
#v5-l1 {
	position: absolute;
	right: 2300%;
	bottom: 250%;

}

/*all level 2 buttons*/

#v1-l2 {
	position: absolute;
	left: 38%;
	top: 63%;
}
#v2-l2 {
	position: absolute;
	right: 280%;
	bottom: 115%;
}
#v3-l2 {
	position: absolute;
	right: 800%;
	bottom: 300%;
}
#v4-l2 {
	position: absolute;
	right: 1350%;
	bottom: 400%;

}
#v5-l2 {
	position: absolute;
	right: 2100%;
	bottom: 250%;
}

/*all level 3 buttons*/
#v1-l3 {
	position: absolute;
	left: 35%;
	top: 75%;
}
#v2-l3 {
	position: absolute;
	right: 280%;
	bottom: 130%;
}
#v3-l3 {
	position: absolute;
	right: 800%;
	bottom: 300%;
}
#v4-l3 {
	position: absolute;
	right: 1600%;
	bottom: 300%;

}
#v5-l3 {
	position: absolute;
	right: 2400%;
	bottom: 20%;
}
/*
#v1-l4 {
	position: absolute;
	left: 37%;
	top: 68%;
}
#v1-l5 {
	position: absolute;
	left: 40%;
	top: 72%;
}*/
