style.css

body {
	margin: 0;
	width: 100%;
}
h1 {
	text-transform: uppercase;
	font-family: 'Slabo 27px', serif;
	line-height: 250%;
	letter-spacing: 160px;
	word-spacing: -160px;
	font-size: 80px;
	text-align: center;
}
#soul {
	position: fixed;
	top: 70%;
	left: 15%;
	display: inline-block;
}