style.css



a,
ul,
p,
h4,
h2,
h1
 {
	font-family: sans-serif;
	margin: auto;
	width: 40%;
}
.tableofcontents {
	padding: 20px;
	background: lightblue;
    color: white;
    text-decoration: none;
   
}
p,
ul {
	padding: 40px;
	background: lightblue;
	color: white;
	font-size: 20px;
	
}

a {
	color: white;
}
.title {
	letter-spacing: 3px;
	text-transform: uppercase;
	line-height: 10px;
}
ul {
	text-indent: 10px;
}

img {
	margin: auto;
