style.css

h4,
h2,
a,
ul,
p
 {
	font-family: sans-serif;
}
.tableofcontents {
	padding: 20px;
	background: lightblue;
    color: white;
    text-decoration: none;
    width: 30%;
}
p,
ul {
	padding: 20px;
	background: lightblue;
	color: white;
	font-size: 14px;
	
}
.adleft {
	float: left;
}
.adright{
	float: right;
	margin-left: 15px;
}
a {
	color: white;
}
.title {
	letter-spacing: 3px;
}