style.css

.nothing {
	position:absolute;
	height: 0px;
}

#stanza1 {
	position: relative;
	border: 10px solid lightblue;
	padding: 10px;
	display: inline-block;
	float: left;
	top: 200px;
	clear: both;
}

#stanza2 {
	position: relative;
	border: 10px solid lightblue;
	padding: 10px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 120px;
	top: 200px;
}

#stanza3 {
	position: relative;
	border: 10px solid lightblue;
	padding: 10px;
	display: inline-block;
	bottom: 20px;
	float: right;
	clear: both;
}